**/node_modules
**/dist
**/.vite
**/.turbo
**/coverage

data
.git
.gitignore

.env
.env.*
!.env.example

.DS_Store
*.log
npm-debug.log*

.vscode
.idea

docs
docker-compose*.yml
Dockerfile
.dockerignore
README.md
